.addLocation {
    font-family: Roboto, serif;
    background-color: white;
    padding: 20px 0 20px 40px;
    width: 760px;
    overflow: scroll;
    border-radius: 12px;
    box-shadow: 8px 4px 35px rgba(0, 0, 0, 0.35);
}

.addLocationHeader {
    margin: 16px 0 28px 0px;
    font-weight: bold;
    font-size: 32px;
}

.form {

}

.formCols {
    display: flex;
}

.formCol {
    margin-right: 40px;
    width: 180px;
}

.formColHeader {
    font-weight: bold;
    margin-bottom: 12px;
    white-space: nowrap;
    text-decoration: underline;
    font-size: 18px;
}

.formLabel {
    font-size: 16px;
}

.formInput {
    margin-bottom: 8px;
}

.imageLabel {
    font-size: 16px;
    font-style: italic;
    margin-top: 26px;
    margin-bottom: 8px;
}

.formQuestion {
    font-size: 16px;
    margin-bottom: 12px;
}

.formRadioQuestion {
    font-weight: bold;
    margin-left: 8px;
    margin-right: 28px;
    margin-bottom: 4px;
}

.formRadioLabel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 28px;
}

.customRadioBtnContainer {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
}

.customRadioBtnContainer input {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
}

.formRadioBtn {
    position: absolute;
    margin-left: 8px;
    top: -6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eeeeee;
    border-radius: 50%;
}

.customRadioBtnContainer:hover input ~ .formRadioBtn {
    background-color: #cccccc;
}

.customRadioBtnContainer input:checked ~ .formRadioBtn {
    background-color: #30B3CA;
}

.surveyBox {
    width: 90%;
}

.formQuestions {
    padding: 16px 0 16px 16px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.formQuestionsCols {
    display: flex;
    justify-content: space-evenly;
}

.formQuestionsCol {
}

.addButton {
    float: right;
    font-weight: bold;
    border: transparent;
    background-color: #2853A8;
    margin-top: 20px;
    margin-right: 40px;
    padding: 5px 34px;
    box-shadow: 1px 4px 11px -2px rgba(0, 0, 0, 0.40);
}
