.body {
    padding-top: 8px;
    -webkit-user-select: none;
}

.dashboardHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 16px;
    padding-left: 36px;
    padding-right: 20px;
}

.dashboardHeaderText {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 8px;
}

.addLocationButtonDiv {
    position: relative;
    background: transparent;
    border-radius: 12px;
    margin-right: 150px;
    margin-left: 40px;
    margin-top: 4px;
    height: 50px;
    box-shadow: 3px 4px 11px -2px rgba(0,0,0,0.75);
}

.addLocationButton {
    height: 50px;
}


.flexContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    flex-wrap: wrap;
}
