.outerCard {
    padding: 16px;
}

.body {
    padding-top: 8px;
    -webkit-user-select: none;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.locationText {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

.regularText {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}
