.outerCard {
    padding: 16px;
}

.body {
    padding-top: 8px;
    -webkit-user-select: none;
    font-family: Roboto, serif;
}

.locationText {
    font-weight: bold;
    font-size: 16px;
}

.regularText {
    display: flex;
    margin-top: -3px;
    font-size: 14px;
}
