.formLabelInputGroup {
    display: inline-block;
    width: 48.1%;
}

.formLabel {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.formInputName {
    width: 100%;
}

.formInputPhone {
    position: relative;
    margin-right: 20px;
    width: 100%;
}

.formSubmitBtn {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-width: 0;
    background-color: #30B3CA;
    padding: 5px 22px;
    right: 30px;
}

.formSubmitBtn:hover {
    background-color: #51cbe0;
}

.formSubmitBtn:focus {
    background-color: #30B3CA;
}
