.subheader{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.ratingOverview{
    padding-left: 15px;
    max-width: 500px;
}

.ratingHeader{
    text-align: center;
}

.cell1{
    padding: 10px;
    border-radius: 8px;
    background-color: #23c9ad;
    margin: 2px 10px 2px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.cell2{
    padding: 10px;
    border-radius: 8px;
    background-color: #7BDECD;
    margin: 2px 10px 2px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.cell3{
    padding: 10px;
    border-radius: 8px;
    background-color: #D3F4EE;
    margin: 2px 10px 2px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.emphasis{
    color: #23c9ad;
    font-weight: bold;
}

.emphasisBad{
    color: #ff6961;
    font-weight: bold;
}

.subSubheader{
    font-size: 16px;
    font-weight: bold;
}