input {
    width: 90%;
}

input:focus {
background-color: beige;
}

label {
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.form {
    background-color: #E5E5E5;
    padding: 20px;
    width: 100%;
    box-shadow: 8px 4px 35px rgba(0, 0, 0, 0.5);
}