.dashboard {
    display: block;
    height: 100vh;
    width: 100vw;
    border: 0 solid transparent;
    white-space: nowrap;
}

.sidebarChildren {
    position: relative;
    background: white;
    height: auto;
    width: 100%;
}

.settingsModal {
    margin: 20px;
    padding: 30px;
    height: 410px;
    border-radius: 10px;
}
