.sign-in-div {
    width: 50%;
    margin: auto;
    transform: translateY(-20px);
}

.title-message {
    position: relative;
    white-space: nowrap;
    top: -30px;
    margin: auto;
    text-align: center;
}

.subtitle-message {
    position: relative;
    white-space: nowrap;
    top: -25px;
    margin: auto;
    text-align: center;
}

.sign-in{
    text-align: center;
}