
.page {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 20px solid transparent;
    background-color: white;
    border-radius: 10px;
    border-image: url(../../images/CleanView-QR-Background.png) 30 round;
    overflow: scroll;
}

.logo {
    margin-bottom: 25px;
    position: relative;
    background-color: transparent;
}

.sign-in-div {
    width: 50%;
    margin: auto;
    transform: translateY(-20px);
}

.title-message {
    position: relative;
    white-space: nowrap;
    top: -30px;
    margin: auto;
    text-align: center;
}

.subtitle-message {
    position: relative;
    white-space: nowrap;
    top: -25px;
    margin: auto;
    text-align: center;
}

.sign-in{
    text-align: center;
}