@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
.page {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.logoSide {
    position: absolute;
    left: 0;
    /*background: red;*/
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authSide {
    position: absolute;
    right: 0;
    background-image: url('../../images/CleanView-QR-Background.png');
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    height: 300px;
    margin-top: 85px;
    margin-bottom: auto;
}

.infoDiv {
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 60px;
    /*transform: translate(50%);*/
    /*width: 60%;*/
    /*margin-bottom: 75px;*/
}
