.box {
    background-color: #191A26;
    padding: 20px;
    width: 60%;
    overflow: scroll;
    color: white;
    display: flex;
    flex-direction: column;
}

.headerText {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.formLabel {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.formTextBox {
    border-width: 2px;
    height: 45px;
}

.formTextBox:focus {
    /*background: #61dafb;*/
}

.signUpButton {
    display: inline;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
