body {
    margin: 0;
 }

.page {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
    border: 20px solid transparent;
    background-color: #fbfbfb;
    border-radius: 10px;
    border-image: url(../images/CleanView-QR-Background.png) 30 round;
    overflow: hidden;
}

.authenticator {
    position: relative;
    top: -75px;
    transform: translateX(31%);
    /*margin: auto auto;*/
    /*vertical-align: middle;*/
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
    /*bottom: 10%;*/
    /*top: 10%;*/
    /*box-shadow: 15px 40px 35px rgba(0, 0, 0, 0.5);*/
}

.logo {
    margin-bottom: 25px;
    position: relative;
    background-color: transparent;
}

.title-message {
    position: relative;
    top: -80px;
    transform: translateX(calc(31% + 75px));
}

.subtitle-message {
    position: relative;
    top: -90px;
    transform: translateX(calc(31% + 70px));
}

:root{
    --amplify-primary-color: #23A6BD;
    --amplify-primary-tint: #23A6BD;
    --amplify-primary-shade: #209AB0;
}