body {
    margin: 0;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 20px solid transparent;
    background-color: white;
    border-radius: 10px;
    border-image: url(../images/CleanView-QR-Background.png) 30 round;
    overflow: scroll;
}

.logo {
    margin-bottom: 25px;
    position: relative;
    background-color: transparent;
}

.signInDiv {
    width: 50%;
    margin: auto;
    transform: translateY(-20px);
    /*border: 3px solid green;*/
    /*padding: 10px;*/
}

.authenticator {
    position: relative;
    right: 35.5%;
    margin-left: 55%;
}


.title-message {
    position: relative;
    white-space: nowrap;
    top: -30px;
    width: 50%;
    margin: auto;
}

.subtitle-message {
    position: relative;
    white-space: nowrap;
    top: -25px;
    width: 50%;
    left: 35px;
    margin: auto;
}

:root {
    --amplify-primary-color: #23C9AD;
    --amplify-primary-tint: #23C9AD;
    --amplify-primary-shade: #209AB0;
    --amplify-secondary-contrast: white;
    --amplify-tertiary-color: white;
    --amplify-white: lightgrey;
    --amplify-grey: black;

}