.analDash{
    width: 90%;
    margin: 25px 40px 25px 40px;
    font-family: Roboto;
}

.fieldHeader{
    font-weight: bold;
}

.analyticsDashboardSubheader{
    font-weight: bold;
}

#filterCharts{
    border: 2px #E5E5E5 solid;
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
}

.rowDivider{
    margin-top: 20px;
}