#analyticsHeader{
    font-weight:bold;
}

.analDash{
    width: 90%;
    margin: 25px 40px 25px 40px;
    font-family: Roboto;
}

.analyticsDashboardSubheader{
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
    margin: 0px 0px 0px 0px;
    background-color: #191A25;
    color: white;
    font-weight: bold;
}

.analyticsDashboardSubheader2{
    font-weight: normal;
    font-size: 20px;
    font-weight: bold;
}

#filterCharts{
    background-color: #E5E5E5;
    margin-left: 15px;
    border-radius: 6px;
    padding: 10px;
}

.rowDivider{
    margin-top: 20px;
    padding: 0px;
}

.check{
    margin-right: 2px;
    margin-left: 0px;
}