#analyticsHeader{
    font-weight:bold;
}

.analDash{
    width: 90%;
    margin: 25px 40px 25px 40px;
    font-family: Roboto;
}

.analyticsDashboardSubheader{
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
    margin: 0px 0px 0px 0px;
    background-color: #191A25;
    color: white;
    font-weight: bold;
}

.analyticsDashboardSubheader2{
    font-weight: normal;
    font-size: 20px;
    color: #23A6BD;
}

#filterCharts{
    border: 2px #E5E5E5 solid;
    margin-left: 15px;
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
}

.rowDivider{
    margin-top: 20px;
    padding: 0px;
}

.cell1{
    padding: 10px;
    border-radius: 8px;
    background-color: #23c9ad;
    margin: 2px;
    text-align: center;
}

.cell2{
    padding: 10px;
    border-radius: 8px;
    background-color: #7BDECD;
    margin: 2px;
    text-align: center;
}

.cell3{
    padding: 10px;
    border-radius: 8px;
    background-color: #D3F4EE;
    margin: 2px;
    text-align: center;
}

.overviewMetrics{
    max-width: 350px;
}
