.locationInfoWrapper{
    font-family: Roboto, serif;
    margin: 25px 40px 25px 40px;
}

.locationInfoWrapper p{
    margin: 0px 0px 5px 0px;
}

.locationInfoWrapper h2{
    font-weight: 900;
}

.locationInfoFieldName{
    font-weight: 600;
    font-size: large;
    vertical-align: middle;
}

.locationInfoWrapper h5{
    font-weight: 900;
}

.locationInfoFields {
    font-size: large;
}

.addrBlock {
    margin-left: 77px;
}

.coividResponseRow{
        padding: 16px 0 16px 16px;
        font-size: large;
        border-radius: 8px;
        box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.15);
        width: fit-content;
}

.covidResponseTitle {
    font-size: x-large;
    margin-top: 30px;
}

.covidResponseFieldTitle{
    font-weight: 600;
    font-size: large;
    padding-top: 20px;
}

.covidResponseFieldData{
    font-size: large;
    text-align: right;
}

.editButton{
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black;
}

.editButton:hover, .editButton:focus, .editButton:active{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #30B3CA;
}

.deleteLocationButtonDiv{
    margin-top: 20px;
}
