.tab {
    border-bottom-color: transparent;
    color: #2853A8;
    font-family: Roboto, serif;
    font-weight: bold;
}

.tab:hover {
    color: #191A25;
}

.tab:active {
    outline: none;
    color: #191A25;
}
