.tab {
    border-bottom-color: transparent;
    color: #23C9AD;
    font-family: Roboto;
    font-weight: bold;
}

.tab:hover {
    color: #191A25;
}

.tab:active {
    outline: none;
    color: #191A25;
}
