.tabsWrapper {
    background-color: #e5e5e5;
    border-radius: 25px;
    width: 400px;
    /*height: 25px;*/
}

.tabsWrapper > a {
    border-bottom-color: transparent;
    border: none !important;
    color: black;
    background-color: transparent !important;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    /*margin: auto;*/
    /*height: 25px;*/
}

.active {
    text-decoration: underline;
    font-weight: 900 !important;
    color: #2853A8 !important;
}

.tabsWrapper > a:hover {
    text-decoration: underline;
}

.tabsWrapper > a:visited {
    text-decoration: underline !important;
}

.tabsWrapper > a:focus {
    text-decoration: underline;

}

.editButton {
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
}

.editButton:hover, .editButton:focus, .editButton:active {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #30B3CA;
}
