.menuManagerCodeBlock{
    width: 90%;
    margin: 25px 40px 25px 40px;
    font-family: Roboto, serif;
    color: #191A25;
}

.menuManagerSubheader{
    font-weight: bold;
    color: #23A6BD;
}

.label{
    font-size: 16px;
    color: #191A25;
}

.removeMenuButton{
    background-color: #ff6961;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 8px 8px;
}

.menuManagerButton{
    border: none;
    border-radius: 6px;
    padding: 8px 8px;
    background-color: #E5E5E5;
    font-family: Roboto, serif;
}
