#menuManagerCodeBlock{
    width: 90%;
    margin: 25px 40px 25px 40px;
    font-family: Roboto, serif;
    color: #191A25;
    padding: 0px;
}

#menuManagerHeader{
    font-weight: bold;
    margin-bottom: 15px;
}

.menuManagerSubheader{
    color: #23A6BD;
    font-weight: bold;
    margin: 25px 0px 25px 0px;
}

.textLine{
    margin-top: 15px;
}

#menuLink{
    color: #23A6BD;
}

.removeMenuButton{
    background-color: #ff6961;
    border: none;
    color: white;
    margin-top: 15px;
    border-radius: 6px;
    padding: 8px 8px;
    font-weight: bold;
    width: 150px;
}

.menuManagerButton{
    background-color: #23A6BD;
    border: none;
    color: white;
    margin-top: 15px;
    border-radius: 6px;
    padding: 8px 8px;
    font-weight: bold;
    width: 150px;
}

#editMenuBox{
    background: #f7f7f7;
    border: 2px #23A6BD solid;
    border-radius: 8px;
    padding: 20px;
}

.newMenuGeneratorWrapper{
    background-color: #f3f3f3;
    border-radius: 6px;
    padding: 8px;
}

.menuField{
    font-family: Roboto;
    color: black
}

.newMenuFormColumn{
    display: flex;
}

.generateMenuSubmit{
    color: white;
    border: none;
    font-weight: bold;
    align-self: flex-end;
    width: 100%;
    background-color: #23A6BD;
}