.qrManagementBlock{
    width: 90%;
    margin: 25px 40px 25px 40px;
    font-family: Roboto, serif;
    font-size: 16px;
}

#listHeader{
    margin-bottom: 10px;
}

#qrHeader{
    font-weight: bold;
}

.qrCodeSubheader{
    margin-top: 20px;
    font-weight: 600;
    color: #23A6BD;
}

.qrField{
    font-family: Roboto;
    color: black
}

.qrHeader{
    font-size: 16px;
}


.qrCodeFormColumn{
    display: flex;
}

ul {
    list-style-type: none;
  }
  
  ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
  }

.qrNameCol{
    font-size: 20px;
    font-weight: bold;
}

.qrCodeGeneratorWrapper{
    background-color: #f3f3f3;
    max-width: 600px;
    border-radius: 6px;
    padding: 8px;
}

.qrCodeDeleteWrapper{
    background-color: #f3f3f3;
    max-width: 400px;
    border-radius: 6px;
    padding: 8px;
}

.generateQrCodeSubmit {
    color: white;
    border: none;
    font-weight: bold;
    align-self: flex-end;
    width: 100%;
    background-color: #23A6BD;
}

.deleteQrCodeSubmit {
    color: white;
    border: none;
    font-weight: bold;
    align-self: flex-end;
    float: right;
    width: 100%;
}

.qrTable{
    border: border-dark;
    border-width: 2px;
}
