.qrCodeBlock{
    width: 90%;
    margin: 25px 40px 25px 40px;
    font-family: Roboto, serif;
}

#qrHeader{
    font-weight: bold;
}

.qrCodeSubheader{
    font-weight: 600;
    color: #23A6BD;
}

.label{
    font-family: Roboto;
    font-weight: bold;
    color: white;
}

.qrHeader{
    font-size: 16px;
}

.col{
    border: 5px black;
}

.qrCodeFormColumn{
    display: flex;
}

.qrCodeGeneratorWrapper{
    background-color: #191A25;
    max-width: 600px;
    border-radius: 6px;
    padding: 8px;
}

.generateQrCodeSubmit {
    color: white;
    border: none;
    font-weight: bold;
    align-self: flex-end;
    width: 100%;
    background-color: #23A6BD;
}
